*{
    box-sizing: content-box;
    max-width: 1100px;
    color: #fff;
}

/* HEADER */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
}

/* MAIN */

.extensions-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extensions-bar-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/* CARD ITEM */

.extensions-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.extensions-cards-title{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.extensions-cards-title img{
    width: 50px;
    height: 50px;
}

.extensions-cards-item{
    width: calc(100% / 3 - 45px);
    padding: 15px;
}

.extensions-cards-item-text{
    width: 60%;
}

.extensions-cards-item-text h2{
    font-size: 20px;
    font-weight: 550;
    margin-top: 0px;
    margin-bottom: 10px;
}

.extensions-cards-item-text p{
    margin-top: 0px;
}

.extensions-cards-item-btns{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BUTTONS */

.remove{
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
    background: #1f2535;
}

.brad{
    border-radius: 10px;
}

/* SWITCH REMOVE */

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}


.slider:before {
    content: ""; 
    position: absolute;
    height: 16px;
    width: 16px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #aa2b29;
}

input:checked + .slider:before {
    transform: translateX(26px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* DARK THEME */

.dark-theme{
    background: #1f2535;
}

.active-dark{
    background: #aa2b29;
    color: black;
}

.hover-dark{
    background: #525868;
    color: #fff;
}

.focus-dark{
    outline: 1px solid #aa2b29;
}


/* WHITE THEME */

.focus-light{
    background: #fff;
    outline: 1px solid #aa2b29;
    color: #1e243a;
}

.active-light{
    background: #c5c5c5;
    color: #08122e;
}